.archive{

    width:100%;
    min-height:100vh;

    background:#FFFDF1;

    padding:140px 73px 80px;

    display:flex;
    flex-direction:column;

}

.container{

    max-width:1400px;
    margin:auto;

}

/* Heading */

.headingRow{
    display:flex;
    align-items:center;
    width:100%;
}

.line{
    flex:1;
    height:5px;
    background:#FFD700;
    margin-left:18px;
    margin-right:400px;
}

.number{

    font-family:var(--font-manrope);
    display:flex;
    margin-right:20px;

    font-size:22px;
    font-weight:600;

    color:#22223B;

}

.white{

    font-family:var(--font-manrope);
    font-size:22px;
    font-weight:600;
    color:#FFD700;

}

.headingRow h1{

    font-family:var(--font-manrope);
    margin:0;

    font-size:60px;
    font-weight:800;

    color:#22223B;

}


.description{

    font-family:var(--font-manrope);

    font-size:22px;

    font-weight:600;
    max-width:850px;

    margin:42px 0 70px;

    line-height:1.6;

    color:#22223B;

}

/* table */

.table{

    display:flex;
    flex-direction:column;

}

.header{

    display:grid;
    font-family:var(--font-manrope);

    grid-template-columns:2fr 1fr 180px;

    padding:18px 24px;

    border-bottom:3px solid #FFd700;

    font-weight:800;

    color:#22223B;

}

.card{

    display:grid;

    grid-template-columns:2fr 1fr 180px;

    gap:30px;

    padding:26px 24px;

    border-bottom:2px solid #FFD700;

}

.projectInfo h3{

    margin:0;
    font-family:var(--font-manrope);

    font-size:22px;
    font-weight: 600;

    color:#22223B;

}

.projectInfo p{

    margin-top:10px;

    color:#7B6700;

    line-height:1.7;

}

.tech{

    font-family:var(--font-manrope);
    color:#22223B;
    font-size: 18;
    font-weight:600;

    line-height:1.7;

}

.github{

    display:flex;
    align-items:center;
    gap:8px;

    width:max-content;

    color:#22223B;

    text-decoration:none;

    font-weight:700;

}

.github:hover{

    color:#FFd700;

}

/* Tablet */

@media(max-width:900px){

.archive{

    padding:120px 32px;

}

.headingRow h1{

    font-size:36px;

}

.header{

    display:none;

}

.number,
.white{

    font-size:18px;

}

.card{

    display:flex;

    flex-direction:column;

    gap:18px;

    padding:30px 0;

}

}

/* Mobile */

@media(max-width:600px){

.archive{

    padding:100px 20px;

}
.number,
.white{

    font-size:16px;

}

.headingRow{

    flex-wrap:wrap;

}

.headingRow h1{

    font-size:36px;

}

.line{

    display:none;

}

.description{

    font-size:16px;

}

.projectInfo h3{

    font-size:18px;

}

.projectInfo p{

    font-size:14px;

}

.tech{

    font-size:14px;

}

}